<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-background">
            <!-- Hình ảnh background -->
            <img src="{% static 'images/cover.jpg' %}" alt="Background" />
        </div>
        <div class="logo">
            <!-- Hình ảnh logo -->
            <img src="{% static 'images/logo3.png' %}" alt="Logo" />
        </div>
        <div class="header-text">
            <h1> VN Search </h1>
        </div>
    </header>

    <section class="buttons">
        <button id="updateButton" class="custom-button">Update New Link</button>
        <button id="mainLinkButton" class="custom-button">Main Link</button>
        <button id="relatedLinkButton" class="custom-button">Related Link</button>
        <button id="allLinkButton" class="custom-button">All Link</button>
        <button id="vhmSearchButton" class="custom-button">VN Search</button>
        <button id="kvSearchButton" class="custom-button">KBG Search</button>
        <button id="autoTranslationButton" class="custom-button">Auto_Translation</button>
    </section>

    <section class="search">
        <label for="searchText">Search Text: </label>
        <input type="text" id="searchText" name="searchText">
        <button id="clearButton">Clear</button>
    </section>

    <section class="result">
        <label for="resultText">Result: </label>
    </section>

    <section class="result-text">
        <textarea id="resultText" name="resultText"></textarea>
    </section>

    <script>
        // Lấy các nút bằng id
        var updateButton = document.getElementById("updateButton");
        var mainLinkButton = document.getElementById("mainLinkButton");
        var relatedLinkButton = document.getElementById("relatedLinkButton");
        var allLinkButton = document.getElementById("allLinkButton");
        var vhmSearchButton = document.getElementById("vhmSearchButton");
        var kvSearchButton = document.getElementById("kvSearchButton");
        var autoTranslationButton = document.getElementById("autoTranslationButton");

        // Lấy input và textarea bằng id
        var searchText = document.getElementById("searchText");
        var resultText = document.getElementById("resultText");

        // Gắn sự kiện click cho các nút
        updateButton.addEventListener("click", function() {
            // Lấy giá trị từ ô input
            var inputValue = searchText.value;

            // Thực hiện xử lý dựa trên giá trị inputValue ở đây
            // Ví dụ: Gán giá trị xử lý vào phần "resultText"
            resultText.value = "Kết quả xử lý Update New Link: " + inputValue;
        });

        mainLinkButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý Main Link: " + inputValue;
        });

        relatedLinkButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý Related Link: " + inputValue;
        });

        allLinkButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý All Link: " + inputValue;
        });

        vhmSearchButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý VHM_Search: " + inputValue;
        });

        kvSearchButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý KV_Search: " + inputValue;
        });

        autoTranslationButton.addEventListener("click", function() {
            var inputValue = searchText.value;
            resultText.value = "Kết quả xử lý Auto_Translation: " + inputValue;
        });

        // Lấy nút "Clear" bằng id
        var clearButton = document.getElementById("clearButton");

        // Lấy input bằng id
        var searchText = document.getElementById("searchText");

        // Gắn sự kiện click cho nút "Clear"
        clearButton.addEventListener("click", function() {
            // Đặt giá trị của input thành chuỗi rỗng để xóa nội dung
            searchText.value = "";
        });







    </script>

</body>
</html>
