/* CSS cho header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; /* Điều chỉnh độ rộng của header tại đây, ví dụ 80% */
    height: 200px; /* Điều chỉnh chiều dài của header tại đây, ví dụ 100px */
}

/* CSS cho background */
.header-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Đặt z-index thấp hơn để nó nằm phía sau các phần tử khác */
}

/* CSS cho logo */
.logo img {
    width: 100%; /* Đặt chiều rộng của logo là 20% của phần tử chứa nó */
}

/* CSS cho header-text */
.header-text {
    text-align: left; /* Để căn giữa theo chiều ngang */
    display: flex; /* Sử dụng flexbox để căn giữa theo chiều dọc */
    justify-content: center; /* Để căn giữa theo chiều dọc */
    align-items: center; /* Để căn giữa theo chiều dọc */
    margin-left: 20px;
    margin-right: 900px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-text h1 {
    font-size: 40px;
    font-family: "Verdana", sans-serif;
    color: #FFCC00;
    font-weight: bold;
}



/* CSS cho nút có lớp "custom-button" */
.custom-button {
    padding: 10px 20px; /* Điều chỉnh khoảng cách bên trong nút */
    margin-top: 30px; /* Điều chỉnh khoảng cách phía trên của nút */
    margin-right: 20px; /* Điều chỉnh khoảng cách bên phải của nút */
    margin-bottom: 10px; /* Điều chỉnh khoảng cách phía dưới của nút */
    margin-left: 10px; /* Điều chỉnh khoảng cách bên trái của nút */
    background-color: #006666; /* Điều chỉnh màu nền của nút */
    color: #ffffff; /* Điều chỉnh màu chữ của nút */
    border: none; /* Xóa viền */
    cursor: pointer; /* Biểu tượng con trỏ khi đưa chuột vào nút */
    font-family: Arial, sans-serif; /* Đổi font chữ */
    font-size: 18px; /* Điều chỉnh kích thước chữ trên nút */
    font-weight: bold; /* In đậm chữ */
}

/* CSS cho nút khi được nhấp */
.custom-button:hover {
    background-color: #0000FF; /* Điều chỉnh màu nền khi di chuột vào nút */
}


/* CSS cho phần tử section với class "search" */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 10px; /* Padding 2% theo chiều ngang và 2% theo chiều dọc */
    margin-top: 20px; /* Điều chỉnh khoảng cách phía trên của nút */
}

/* CSS cho label */
.search label {
    font-size: 20px; /* Điều chỉnh kích thước font chữ của label */
    color: #333; /* Điều chỉnh màu của label */
    margin-right: 10px; /* Điều chỉnh khoảng cách bên phải của label */
}

/* CSS cho input[type="text"] */
.search input[type="text"] {
    flex: 1; /* Điều chỉnh ô nhập văn bản mở rộng để lấp đầy phần còn lại của "search" */
    padding: 10px 10px; /* Điều chỉnh khoảng cách bên trong ô nhập văn bản */
    border: 0.5px solid #ccc; /* Điều chỉnh viền và màu viền của ô nhập văn bản */
    font-size: 18px; /* Điều chỉnh kích thước font chữ của ô nhập văn bản */
}

/* CSS cho button "Clear" */
.clear-button {
    background-color: #007bff; /* Điều chỉnh màu nền của nút "Clear" */
    color: #fff; /* Điều chỉnh màu chữ của nút "Clear" */
    padding: 10px 20px; /* Điều chỉnh khoảng cách bên trong nút "Clear" */
    border: none; /* Xóa viền của nút "Clear" */
    cursor: pointer; /* Biến con trỏ thành mũi tên khi di chuột vào nút "Clear" */
    font-size: 18px; /* Điều chỉnh kích thước font chữ của nút "Clear" */
    margin-left: 10px; /* Điều chỉnh khoảng cách bên trái của nút */
}


/* CSS cho result section */
.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

/* CSS cho label "Result" */
.result label {
    font-size: 20px; /* Điều chỉnh kích thước font chữ của label */
    color: #333; /* Điều chỉnh màu của label */
    margin-right: 10px; /* Điều chỉnh khoảng cách bên phải của label */
}

/* CSS cho result-text section */
.result-text {
    margin: 10px;
}

/* CSS cho textarea "Result Text" */
#resultText {
    width: 95%; /* Điều chỉnh độ rộng của textarea theo 100% chiều rộng */
    height: 300px; /* Điều chỉnh độ cao của textarea */
    padding: 10px; /* Điều chỉnh khoảng cách bên trong textarea */
    background-color: #FFFFFF; /* Điều chỉnh màu nền của textarea */
    color: #333; /* Điều chỉnh màu chữ của textarea */
    border: 0.5px solid #ccc; /* Điều chỉnh viền và màu viền của textarea */
}
